
.graph-vis {
    display: flex;
    justify-content: center;
  }


.relative-container {
    position: relative;
    margin-left: -4rem;
  }
  
  .button-overlay {
    position: absolute;
    top: 30px; /* Adjust the top position as needed */
    right: 135px; /* Adjust the right position as needed */
    width: 1rem;
    height: 2rem;
  }
