
.graph-vis {
    display: flex;
    justify-content: space-evenly;
  }
  
.button-overlay {
    position: absolute;
    top: 35px; /* Adjust the top position as needed */
    right: 135px; /* Adjust the right position as needed */
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
}

.hover\:bg-primary_light:hover {
  background-color: #745731; /* Light brown color */
}

.relative-container {
  margin-right: 3rem;
}

.left {
  margin-left: -2rem;
}

iframe {
  border: 2px solid rgb(187, 187, 187); 
}

@media (max-width: 1435px) {
  .graph-vis {
    flex-direction: column;
  }

  .left {
    margin-left: 0rem;
    margin-bottom: 3rem;
  }

  .right {
    margin-left: 3.5rem;
    margin-bottom: 2rem;
  }

  iframe {
    width: 800;
    height: 375;
  }

}
  
