
.graph-vis {
    display: flex;
    justify-content: flex-start;
  }
  
.button-overlay {
    position: absolute;
    top: 35px; /* Adjust the top position as needed */
    right: 135px; /* Adjust the right position as needed */
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
}

.relative-container {
  margin-right: 3rem;
}

.left {
  margin-left: -1rem;
}


  
